.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Data input {
  width: 300px;
  height: 25px;
  font-size: 15px;
  padding-left: 3px;
  margin: 3px;
}

button {
  width: 310px;
  height: 25px;
  font-size: 15px;
  padding-left: 3px;
  margin: 15px;
}

button:hover {
  cursor: pointer;
}

.employees {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.employee {
  width: 700px;
  height: auto;
  background-color: aquamarine;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}

.employee h3 {
  margin: 20px;
}
